<template>
  <div class="container">
        <div class="row">
            <div class="col">
                <h2>Agregar Vehículo</h2>
            </div>
        </div>
        <form @submit.prevent="save">
            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Tipo:</label>
                <div class="col-sm-10">
                    <select class="form-select" v-model="vehiculo_model.tipo">
                        <option value="1">Sedan</option>
                        <option value="2">Motocicleta</option>
                    </select>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Marca:</label>
                <div class="col-sm-10">
                    <input type="text"  class="form-control" required v-model="vehiculo_model.marca">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Modelo:</label>
                <div class="col-sm-10">
                    <input type="text"  class="form-control" required v-model="vehiculo_model.modelo">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Año:</label>
                <div class="col-sm-10">
                    <input type="number"  class="form-control" required v-model="vehiculo_model.anio">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Potencia:</label>
                <div class="col-sm-10">
                    <div class="input-group mb-3">
                        <input type="number" class="form-control" required v-model="vehiculo_model.potencia">
                        <span class="input-group-text">{{ codigoPotencia }}</span>
                    </div>
                </div>
            </div>
            
            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Existencias:</label>
                <div class="col-sm-10">
                    <input type="number"  class="form-control" required v-model="vehiculo_model.existencias">
                </div>
            </div>
            <div class="col-12">
                <button class="btn btn-success" type="submit" :disabled="saving" style="margin-right: 5px;">Guardar</button>
                <router-link to="/inventarios" class="btn btn-danger" :class="{disabled: saving}" tabindex="-1" role="button" aria-disabled="true">Cancelar</router-link>
            </div>
        </form>
        <div class="toast align-items-center position-fixed top-0 end-0 p-3" role="alert" aria-live="assertive" aria-atomic="true" id="toastError">
            <div class="d-flex">
                <div class="toast-body text-danger">{{ error }}</div>
                <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
  </div>
</template>

<script>
// @ is an alias to /src
import auth from '../auth'
import axios from 'axios';
import {Toast} from 'bootstrap'

export default {
    data(){
    return {
        vehiculo_model: {
            tipo: 1,
            marca: '',
            modelo: '',
            anio: '',
            potencia: '',
            existencias: '',
        },
        saving: false,
        error: ''
    }
    },
    methods: {
        save(){
            var vm = this;
            vm.saving = true;
            axios.post(
                '/api/vehiculos/agregar', 
                vm.vehiculo_model,
                {
                    headers: {'Authorization': auth.getToken()} 
                }
            )
            .then(function(result){
                if(result.data.success){
                    vm.$router.push('/inventarios/show/' + result.data.vehiculo.id);
                }else{
                    vm.error = result.data.error;
                    let el = document.getElementById('toastError')
                    let toast = new Toast(el)
                    toast.show()
                }
                vm.saving = false;
            })
            .catch(error => {
                if (error.response && error.response.status == 401) {
                    setTimeout(() =>{ 
                        auth.logout()
                        vm.$router.replace('/login'); 
                    }, 500);
                }
                vm.saving = false;
            });
        }
    },
    computed:{
        codigoPotencia(){
            return this.vehiculo_model.tipo == 1 ? 'HP' : 'CV';
        }
    }
}
</script>