<template>
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="float-start">Lista de Vehículos en inventario</h2>
        <router-link to="/inventarios/add" class="btn btn-secondary btn-success float-end" tabindex="-1" role="button" aria-disabled="true"><i class="bi bi-plus-lg"></i></router-link>
      </div>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Tipo</th>
          <th scope="col">Marca</th>
          <th scope="col">Modelo</th>
          <th scope="col">Año</th>
          <th scope="col">Existencias</th>
          <th scope="col">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="unidad in inventarios" :key="unidad.id">
          <th scope="row">{{ unidad.id }}</th>
          <td>{{ unidad.tipo_desc }}</td>
          <td>{{ unidad.marca }}</td>
          <td>{{ unidad.modelo }}</td>
          <td>{{ unidad.anio }}</td>
          <td class="text-center">{{ unidad.existencias }}</td>
          <td><button type="button" class="btn btn-light" @click="showInventario(unidad)"><i class="bi bi-eye-fill"></i></button></td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex align-items-center" v-if="loading">
      <strong>Obteniendo información...</strong>
      <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import auth from '../auth'
import axios from 'axios';

export default {
  data(){
    return {
      inventarios: [],
      loading: false
    }
  },
  methods: {
    getLista(){
      var vm = this;
      vm.loading = true;
      axios.get('/api/vehiculos/lista', {
        headers: {'Authorization': auth.getToken()} 
      })
      .then(function(result){
        vm.inventarios = result.data.vehiculos;
        vm.loading = false;
      })
      .catch(error => {
        if (error.response && error.response.status == 401) {
          setTimeout(() =>{ 
            auth.logout()
            vm.$router.replace('/login'); 
          }, 500);
        }
        vm.loading = false;
      });
    },
    showInventario(row){
      this.$router.push('/inventarios/show/' + row.id);
    }
  },
  created(){
    this.getLista();
  }
}
</script>
