<template>
  <main class="form-signin">
    <form @submit.prevent="login">
      <h1 class="h3 mb-3 fw-normal text-center">Inicie sesión</h1>
      <div class="form-floating">
        <input type="text" class="form-control" id="floatingInput" v-model="login_model.username">
        <label for="floatingInput">Usuario</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" v-model="login_model.password">
        <label for="floatingPassword">Contraseña</label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit" :disabled="loading">Iniciar sesión</button>
    </form>
    
    <div class="toast align-items-center position-fixed top-0 end-0 p-3" role="alert" aria-live="assertive" aria-atomic="true" id="toastError">
      <div class="d-flex">
        <div class="toast-body text-danger">{{ error }}</div>
        <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>
  </main>
</template>
<script>
import auth from '../auth'
import {Toast} from 'bootstrap'
import axios from 'axios';

export default {
  data () {
    return {
      login_model: {
        username: '',
        password: ''
      },
      error: '',
      loading: false
    }
  },
  methods:{
    async login(){
      var vm = this;
      vm.loading = true;
      try {
        const response = await axios.post('/api/users/login', vm.login_model);
        auth.setAuth(response.data.auth);
        vm.$router.replace(vm.$route.query.redirect || '/');
        
      } catch (error) {
        
        if (error.response && error.response.status == 401) {
          vm.error = error.response.data.auth.error;
        }else{
          vm.error = 'Se produjo un error inesperado. Intente de nuevo';
        }
        var el = document.getElementById('toastError')
        var toast = new Toast(el)
        toast.show()
      }
      vm.loading = false;
    }
  },
  created(){
    if(auth.loggedIn()){
      this.$router.replace('/');
    }
  }
}
</script>

<style scoped>
    html,
    body {
        height: 100%;
    }

    body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
    }

    .form-signin {
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: auto;
    }

    .form-signin .checkbox {
        font-weight: 400;
    }

    .form-signin .form-floating:focus-within {
        z-index: 2;
    }

    .form-signin input[type="email"] {
        margin-bottom: 1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .btn{
      margin-top: 1rem;
    }
</style>