<template>
    <div>
        <div class="container" v-if="!loading && vehiculo">
            <div class="row">
                <div class="col">
                    <h2 class="float-start">Vehículo # {{ vehiculo.id }}</h2>
                    <router-link to="/inventarios" class="btn btn-secondary btn-warning float-end" tabindex="-1" role="button" aria-disabled="true">Volver</router-link>
                </div>
            </div>
            
            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Tipo:</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" v-model="vehiculo.tipo_desc">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Marca:</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" v-model="vehiculo.marca">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Modelo:</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" v-model="vehiculo.modelo">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Año:</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" v-model="vehiculo.anio">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Potencia:</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" v-model="vehiculo.potencia_desc">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Existencias:</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" v-model="vehiculo.existencias">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Creado por:</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" v-model="vehiculo.user.username">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Fecha de Captura:</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" v-model="fechaCaptura">
                </div>
            </div>
        </div>
        <div class="container" v-if="loading">
            <div class="d-flex align-items-center">
                <strong>Obteniendo información...</strong>
                <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
            </div>
        </div>
    </div>
</template>

<script>
// @ is an alias to /src
import auth from '../auth'
import axios from 'axios';

export default {
  data(){
    return {
      vehiculo: null,
      loading: false
    }
  },
  methods: {
    getVehiculo(){
      var vm = this;
      vm.loading = true;
      axios.get('/api/vehiculos/ver/' + vm.$route.params.id, {
        headers: {'Authorization': auth.getToken()} 
      })
      .then(function(result){
        vm.vehiculo = result.data.vehiculo;
        vm.loading = false;
      })
      .catch(error => {
        if (error.response && error.response.status == 401) {
          setTimeout(() =>{ 
            auth.logout()
            vm.$router.replace('/login'); 
          }, 500);
        }
        vm.loading = false;
      });
    }
  },
  computed:{
      fechaCaptura(){
          if(this.vehiculo){
            let fecha = new Date(this.vehiculo.fechaCreacion);
            return fecha.toLocaleString();
          }
          return '';
      }
  },
  created(){
    this.getVehiculo();
  }
}
</script>
