<template>
  <div id="app">
    <div class="container" v-if="loggedIn">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><router-link class="nav-link px-2 link-secondary" to="/">Inventario</router-link></li>
            </ul>
            <ul class="nav">
              <li class="nav-item"><span class="nav-link link-dark px-2">Bienvenido {{ user }}!!!</span></li>
              <li class="nav-item"><a class="nav-link link-dark px-2 text-danger" style="cursor:pointer;" @click.stop="logout">Cerrar sesión</a></li>
            </ul>
        </header>
    </div>
    <router-view/>
  </div>
</template>
<script>
import auth from './auth'
export default {
  data () {
    return {
      loggedIn: auth.loggedIn(),
      user: auth.getUser()
    }
  },
  methods:{
    logout(){
      auth.logout();
      this.$router.replace('/login');
    }
  },
  created () {
    auth.onChange = loggedIn => {
      this.loggedIn = auth.loggedIn();
      this.user = auth.getUser();
    }
  }
}
</script>